{% extends 'base.html.twig' %} {% block content %}
    <div class="container">
        <h2>Où nous situons nous?</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-6">
                <p>
                    C’EST MA MAISON ! 306, RUE DE BOURGOGNE 45000 ORLEANS Tel. : 02 38 53 72 13
                </p>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <iframe src="https://fr.mappy.com/poi/4d6df026b9eb250702e0d0c3#/4/M2/TGeoentity/F4d6df026b9eb250702e0d0c3/N151.12061,6.11309,1.90587,47.89993/Z19/" height="550"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}