{% extends 'base.html.twig' %} {% block content %}
    <div class="container">
        <h2>Où nous situons nous?</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-6">
                <p>
                    C’EST MA MAISON ! 306, RUE DE BOURGOGNE 45000 ORLEANS Tel. : 02 38 53 72 13
                </p>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <iframe src=" http://umap.openstreetmap.fr/fr/map/anonymous-edit/257889:URftRFMW4VFuoEeCv1sZZ9-9tHk" height="550"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
